In [1]:
import pandas as pd
df=pd.read_csv("unique_records.csv")
df.head()

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0

In [11]:
len(df["Assessment Number"].unique())

14695

In [12]:
df.shape

(53236, 15)