In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt

In [2]:
inner_Data=pd.DataFrame()
inner_Data=pd.read_csv("inner_Data.csv")
inner_Data.head()

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
0,0,100009/31384,1086067352,NaN,Private,NaN,"1,086",01/04/2021,Residential,NaN,...,3-50,"3-50, GUDLAVANI PALEM, Revenue Ward 6, Visakha...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.358483
1,0,100009/31409,1086067377,NaN,Private,NaN,"2,767",06/09/2006,Residential,NaN,...,2-186,"2-186, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357415
2,0,100009/31410,1086067378,NaN,Private,NaN,"1,439",01/04/2021,Residential,NaN,...,2-184,"2-184, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
3,0,100009/31411,1086067379,NaN,Private,NaN,"1,439",06/09/2006,Residential,NaN,...,2-185,"2-185, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
4,0,100009/31416,1086067384,NaN,Private,NaN,"2,450",01/04/2021,Residential,NaN,...,"2-175, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357361,17.762990

In [3]:
unique_records=pd.read_csv("unique_records.csv")
unique_records

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14671,110487,1086497461,YARLAGADDA SIREESHA,"27-18, Revenue Ward 5, MADHURAWADA, Visakhapat...",18360,18360,2202,18360,18360,0,0,0,0.0,0.0,38922
14672,110488,1086497690,YARLAGADDA SIREESHA,"27-18, Revenue Ward 5, MADHURAWADA, Visakhapat...",18360,18360,2202,18360,18360,0,36720,10643,0.0,0.0,86285
14673,110489,1086497691,YARLAGADDA SIREESHA,"27-18, Revenue Ward 5, MADHURAWADA, Visakhapat...",18360,18360,2202,18360,18360,0,0,0,0.0,0.0,38922
14674,110490,1086511234,"ROOPA YARLAGADDA,DEERAJNATH LINGUTLA","27-V-27, Revenue Ward 5, MADHURAWADA, Visakhap...",2245,0,0,2245,0,0,0,0,0.0,0.0,0
14675,110491,1086060091,YARLAGADDA LAKSHMI LEELAVATHI,"10-251/20, 4F-504, Revenue Ward 6, VISALAKSHI ...",873,0,0,873,0,0,0,0,0.0,8.0,0

In [4]:
len(inner_Data)

13901

In [5]:
amenities=pd.DataFrame()
amenities=pd.read_csv("amenities.csv")
amenities.head(10)

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Assessment Number
0,0,No,No,Yes,Yes,No,No,No,1086271335
1,0,No,No,Yes,Yes,No,No,No,1086271362
2,0,No,No,Yes,Yes,No,No,No,1086271368
3,0,No,Yes,Yes,Yes,No,No,No,1086271371
4,0,No,No,Yes,Yes,No,No,No,1086271393
5,0,No,No,Yes,Yes,No,No,No,1086271407
6,0,No,No,Yes,Yes,No,No,No,1086271448
7,0,No,No,Yes,Yes,No,No,No,1086271515
8,0,No,No,Yes,Yes,No,No,No,1086271644
9,0,No,No,Yes,Yes,No,No,No,1086271713

In [6]:
owner_details=pd.DataFrame()
owner_details=pd.read_csv("owner_details.csv")
owner_details.head()

,Unnamed: 0,Mobile Number (without +91),Owner Name,Gender,Email Address,Guardian Relation,Guardian,assessment_number
0,0,NaN,K KRISHNA REDDY,MALE,NaN,Father,NaN,1086087770
1,0,9.581668e+09,G V R REDDY,MALE,NaN,Father,NaN,1086071296
2,0,9.632587e+09,D. LOKENDRA REDDY,MALE,NaN,Father,NaN,1086306067
3,0,9.848292e+09,PILLI APPALA REDDY,MALE,NaN,Father,NaN,1086059570
4,0,9.059018e+09,B NARAYANA REDDY,MALE,NaN,Father,NaN,1086220555

In [7]:
records=pd.read_csv("unique_records.csv")
records.head()

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0

In [8]:
records.shape

(14676, 15)

In [9]:
owner_details.shape

(15724, 8)

In [10]:
amenities.shape

(9117, 9)

In [11]:
len(owner_details["assessment_number"].unique())

13437

In [12]:
# def plot_scatter_chart(df,location):
#     bhk2 = df[(df.location==location) & (df.BHK==2)]
#     bhk3 = df[(df.location==location) & (df.BHK==3)]
#     matplotlib.rcParams['figure.figsize'] = (15,10)
#     plt.scatter(bhk2.total_sqft,bhk2.price,color='blue',label='2 BHK', s=50)
#     plt.scatter(bhk3.total_sqft,bhk3.price,marker='+', color='green',label='3 BHK', s=50)
#     plt.xlabel("Total Square Feet Area")
#     plt.ylabel("Price (Lakh Indian Rupees)")
#     plt.title(location)
#     plt.legend()
    
# plot_scatter_chart(df7,"Hebbal")


# residential=pd.Dataframe()
# non-residential=pd.Dataframe()

# def plot_scatter_chart(df):
#     residential=df[(df["Property Type"]=="Residential")]
#     non_residential=df[ (df["Property Type"]=="Non Residential")]
#     matplotlib.rcParams['figure.figsize'] = (15,10)
#     plt.scatter(residential["Extent of Site (Sq.Yds)"],residential["Annual Rental Value"],color='blue',label='residential', s=50)
#     plt.scatter(non_residential["Extent of Site (Sq.Yds)"],non_residential["Annual Rental Value"],color='red',label='non residential', s=50)
#     plt.xlabel("Extent Of Site")
#     plt.ylabel("Annual Rental Value")
#     plt.legend()
# plot_scatter_chart(inner_Data)

In [13]:
inner_Data[(inner_Data["Property Type"]=="Residential")]

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
0,0,100009/31384,1086067352,NaN,Private,NaN,"1,086",01/04/2021,Residential,NaN,...,3-50,"3-50, GUDLAVANI PALEM, Revenue Ward 6, Visakha...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.358483
1,0,100009/31409,1086067377,NaN,Private,NaN,"2,767",06/09/2006,Residential,NaN,...,2-186,"2-186, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357415
2,0,100009/31410,1086067378,NaN,Private,NaN,"1,439",01/04/2021,Residential,NaN,...,2-184,"2-184, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
3,0,100009/31411,1086067379,NaN,Private,NaN,"1,439",06/09/2006,Residential,NaN,...,2-185,"2-185, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
4,0,100009/31416,1086067384,NaN,Private,NaN,"2,450",01/04/2021,Residential,NaN,...,"2-175, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357361,17.762990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [14]:
df1=inner_Data.copy()
df1

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
0,0,100009/31384,1086067352,NaN,Private,NaN,"1,086",01/04/2021,Residential,NaN,...,3-50,"3-50, GUDLAVANI PALEM, Revenue Ward 6, Visakha...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.358483
1,0,100009/31409,1086067377,NaN,Private,NaN,"2,767",06/09/2006,Residential,NaN,...,2-186,"2-186, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357415
2,0,100009/31410,1086067378,NaN,Private,NaN,"1,439",01/04/2021,Residential,NaN,...,2-184,"2-184, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
3,0,100009/31411,1086067379,NaN,Private,NaN,"1,439",06/09/2006,Residential,NaN,...,2-185,"2-185, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
4,0,100009/31416,1086067384,NaN,Private,NaN,"2,450",01/04/2021,Residential,NaN,...,"2-175, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357361,17.762990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [15]:
len(df1["Assessment Number"].unique())

12823

In [16]:
df1.drop_duplicates(subset="Assessment Number",inplace=True)
len(df1)

12823

In [17]:
ass=df1.loc[:,"Assessment Number"]
assess=ass.values

In [18]:
assess,len(assess)

(array([1086067352, 1086067377, 1086067378, ..., 1086050282, 1086511234,
        1086060091], dtype=int64),
 12823)

In [19]:
df3=inner_Data[(inner_Data["Assessment Number"].isin(amenities["Assessment Number"]))==True]
df3

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [20]:
df4=df3[(df3["Assessment Number"].isin(amenities["Assessment Number"]))==True]
len(df4["Assessment Number"].unique())
df4.drop_duplicates(subset="Assessment Number",inplace=True)
len(df4)

6037

In [21]:
df4

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [22]:

amenities

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Assessment Number
0,0,No,No,Yes,Yes,No,No,No,1086271335
1,0,No,No,Yes,Yes,No,No,No,1086271362
2,0,No,No,Yes,Yes,No,No,No,1086271368
3,0,No,Yes,Yes,Yes,No,No,No,1086271371
4,0,No,No,Yes,Yes,No,No,No,1086271393
...,...,...,...,...,...,...,...,...,...
9112,0,No,No,No,No,No,No,No,1086497461
9113,0,No,No,No,No,No,No,No,1086497690
9114,0,No,No,No,No,No,No,No,1086497691
9115,0,No,No,No,No,No,No,No,1086511234
9116,0,No,No,Yes,Yes,No,No,No,1086060091

In [23]:
df4

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [24]:
df5=df4.copy()

In [25]:
df6=amenities.copy()
df5.set_index("Assessment Number")
df6.set_index("Assessment Number")

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
Assessment Number,,,,,,,,
1086271335,0,No,No,Yes,Yes,No,No,No
1086271362,0,No,No,Yes,Yes,No,No,No
1086271368,0,No,No,Yes,Yes,No,No,No
1086271371,0,No,Yes,Yes,Yes,No,No,No
1086271393,0,No,No,Yes,Yes,No,No,No
...,...,...,...,...,...,...,...,...
1086497461,0,No,No,No,No,No,No,No
1086497690,0,No,No,No,No,No,No,No
1086497691,0,No,No,No,No,No,No,No
1086511234,0,No,No,No,No,No,No,No
1086060091,0,No,No,Yes,Yes,No,No,No

In [26]:
df5

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [27]:
df6

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Assessment Number
0,0,No,No,Yes,Yes,No,No,No,1086271335
1,0,No,No,Yes,Yes,No,No,No,1086271362
2,0,No,No,Yes,Yes,No,No,No,1086271368
3,0,No,Yes,Yes,Yes,No,No,No,1086271371
4,0,No,No,Yes,Yes,No,No,No,1086271393
...,...,...,...,...,...,...,...,...,...
9112,0,No,No,No,No,No,No,No,1086497461
9113,0,No,No,No,No,No,No,No,1086497690
9114,0,No,No,No,No,No,No,No,1086497691
9115,0,No,No,No,No,No,No,No,1086511234
9116,0,No,No,Yes,Yes,No,No,No,1086060091

In [29]:
# df7=pd.concat([df5,df6])
# df7
# df7.drop_duplicates(subset="Assessment Number",inplace=True)
# df7

In [30]:
ass=df5.loc[:,"Assessment Number"]
assess=ass.values

In [31]:
assess

array([1086548225, 1086024459, 1086029759, ..., 1086050282, 1086511234,
       1086060091], dtype=int64)

In [32]:
len(assess)

6037

In [33]:
amenities=df6.loc[:,"Assessment Number"].values
len(amenities)

9117

In [34]:
len(fin_ass)

NameError: name 'fin_ass' is not defined

In [ ]:
val=df5.loc[(df5["Assessment Number"]==1086548225)]
val="No"
df5.loc[(df5["Assessment Number"]==1086548225),"lift"]="No"
df5.loc[(df5["Assessment Number"]==1086548225)]

In [ ]:
# val=df6.loc[(df6["Assessment Number"]==1086029759),"lift"]
# print(val.values)

In [ ]:
a=["lift",'toilets', 'water_tap', 'electricity',
       'attached_bathroom', 'water_harvesting', 'cable_connection']
dff=df5.copy()
for i in fin_ass:
    for u in a:
        df5.loc[(df5["Assessment Number"]==i),u]=df6.loc[(df6["Assessment Number"]==i),u].values[0]

df5