In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt

In [2]:
inner_Data=pd.DataFrame()
inner_Data=pd.read_csv("inner_Data.csv")
inner_Data.head()

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
0,0,100009/31384,1086067352,NaN,Private,NaN,"1,086",01/04/2021,Residential,NaN,...,3-50,"3-50, GUDLAVANI PALEM, Revenue Ward 6, Visakha...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.358483
1,0,100009/31409,1086067377,NaN,Private,NaN,"2,767",06/09/2006,Residential,NaN,...,2-186,"2-186, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357415
2,0,100009/31410,1086067378,NaN,Private,NaN,"1,439",01/04/2021,Residential,NaN,...,2-184,"2-184, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
3,0,100009/31411,1086067379,NaN,Private,NaN,"1,439",06/09/2006,Residential,NaN,...,2-185,"2-185, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
4,0,100009/31416,1086067384,NaN,Private,NaN,"2,450",01/04/2021,Residential,NaN,...,"2-175, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357361,17.762990

In [3]:
unique_records=pd.read_csv("unique_records.csv")
unique_records

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53231,9195,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0
53232,9196,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0
53233,9197,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0
53234,9198,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0
53235,9199,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0

In [4]:
len(inner_Data)

13901

In [5]:
amenities=pd.DataFrame()
amenities=pd.read_csv("amenities.csv")
amenities.head(10)

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Assessment Number
0,0,No,No,Yes,Yes,No,No,No,1086271335
1,0,No,No,Yes,Yes,No,No,No,1086271362
2,0,No,No,Yes,Yes,No,No,No,1086271368
3,0,No,Yes,Yes,Yes,No,No,No,1086271371
4,0,No,No,Yes,Yes,No,No,No,1086271393
5,0,No,No,Yes,Yes,No,No,No,1086271407
6,0,No,No,Yes,Yes,No,No,No,1086271448
7,0,No,No,Yes,Yes,No,No,No,1086271515
8,0,No,No,Yes,Yes,No,No,No,1086271644
9,0,No,No,Yes,Yes,No,No,No,1086271713

In [6]:
owner_details=pd.DataFrame()
owner_details=pd.read_csv("owner_details.csv")
owner_details.head()

,Unnamed: 0,Mobile Number (without +91),Owner Name,Gender,Email Address,Guardian Relation,Guardian,assessment_number
0,0,NaN,K KRISHNA REDDY,MALE,NaN,Father,NaN,1086087770
1,0,9.581668e+09,G V R REDDY,MALE,NaN,Father,NaN,1086071296
2,0,9.632587e+09,D. LOKENDRA REDDY,MALE,NaN,Father,NaN,1086306067
3,0,9.848292e+09,PILLI APPALA REDDY,MALE,NaN,Father,NaN,1086059570
4,0,9.059018e+09,B NARAYANA REDDY,MALE,NaN,Father,NaN,1086220555

In [7]:
records=pd.read_csv("unique_records.csv")
records.head()

,Unnamed: 0,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0

In [8]:
records.shape

(53236, 15)

In [9]:
owner_details.shape

(15724, 8)

In [10]:
amenities.shape

(9117, 9)

In [11]:
len(owner_details["assessment_number"].unique())

13437

In [12]:
len(amenities["Assessment Number"].unique())

6780

In [13]:
# def plot_scatter_chart(df,location):
#     bhk2 = df[(df.location==location) & (df.BHK==2)]
#     bhk3 = df[(df.location==location) & (df.BHK==3)]
#     matplotlib.rcParams['figure.figsize'] = (15,10)
#     plt.scatter(bhk2.total_sqft,bhk2.price,color='blue',label='2 BHK', s=50)
#     plt.scatter(bhk3.total_sqft,bhk3.price,marker='+', color='green',label='3 BHK', s=50)
#     plt.xlabel("Total Square Feet Area")
#     plt.ylabel("Price (Lakh Indian Rupees)")
#     plt.title(location)
#     plt.legend()
    
# plot_scatter_chart(df7,"Hebbal")


# residential=pd.Dataframe()
# non-residential=pd.Dataframe()

# def plot_scatter_chart(df):
#     residential=df[(df["Property Type"]=="Residential")]
#     non_residential=df[ (df["Property Type"]=="Non Residential")]
#     matplotlib.rcParams['figure.figsize'] = (15,10)
#     plt.scatter(residential["Extent of Site (Sq.Yds)"],residential["Annual Rental Value"],color='blue',label='residential', s=50)
#     plt.scatter(non_residential["Extent of Site (Sq.Yds)"],non_residential["Annual Rental Value"],color='red',label='non residential', s=50)
#     plt.xlabel("Extent Of Site")
#     plt.ylabel("Annual Rental Value")
#     plt.legend()
# plot_scatter_chart(inner_Data)

In [14]:
inner_Data[(inner_Data["Property Type"]=="Residential")]

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
0,0,100009/31384,1086067352,NaN,Private,NaN,"1,086",01/04/2021,Residential,NaN,...,3-50,"3-50, GUDLAVANI PALEM, Revenue Ward 6, Visakha...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.358483
1,0,100009/31409,1086067377,NaN,Private,NaN,"2,767",06/09/2006,Residential,NaN,...,2-186,"2-186, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357415
2,0,100009/31410,1086067378,NaN,Private,NaN,"1,439",01/04/2021,Residential,NaN,...,2-184,"2-184, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
3,0,100009/31411,1086067379,NaN,Private,NaN,"1,439",06/09/2006,Residential,NaN,...,2-185,"2-185, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
4,0,100009/31416,1086067384,NaN,Private,NaN,"2,450",01/04/2021,Residential,NaN,...,"2-175, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357361,17.762990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [15]:
df1=inner_Data.copy()
df1

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
0,0,100009/31384,1086067352,NaN,Private,NaN,"1,086",01/04/2021,Residential,NaN,...,3-50,"3-50, GUDLAVANI PALEM, Revenue Ward 6, Visakha...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.358483
1,0,100009/31409,1086067377,NaN,Private,NaN,"2,767",06/09/2006,Residential,NaN,...,2-186,"2-186, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357415
2,0,100009/31410,1086067378,NaN,Private,NaN,"1,439",01/04/2021,Residential,NaN,...,2-184,"2-184, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
3,0,100009/31411,1086067379,NaN,Private,NaN,"1,439",06/09/2006,Residential,NaN,...,2-185,"2-185, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357346
4,0,100009/31416,1086067384,NaN,Private,NaN,"2,450",01/04/2021,Residential,NaN,...,"2-175, GUDLAVANI PALEM, Revenue Ward 6, Visakh...",GUDLAVANI PALEM,Zone19c,Revenue Ward 6,NaN,GUDLAVANI PALEM,Election Ward 6,NaN,83.357361,17.762990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [16]:
len(df1["Assessment Number"].unique())

12823

In [17]:
df1.drop_duplicates(subset="Assessment Number",inplace=True)
len(df1)

12823

In [18]:
ass=df1.loc[:,"Assessment Number"]
assess=ass.values

In [19]:
assess,len(assess)

(array([1086067352, 1086067377, 1086067378, ..., 1086050282, 1086511234,
        1086060091], dtype=int64),
 12823)

In [20]:
df3=inner_Data[(inner_Data["Assessment Number"].isin(amenities["Assessment Number"]))==True]
df3

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [21]:
df4=df3[(df3["Assessment Number"].isin(amenities["Assessment Number"]))==True]
len(df4["Assessment Number"].unique())
df4.drop_duplicates(subset="Assessment Number",inplace=True)
len(df4)

6037

In [22]:
df4

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [23]:

amenities

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Assessment Number
0,0,No,No,Yes,Yes,No,No,No,1086271335
1,0,No,No,Yes,Yes,No,No,No,1086271362
2,0,No,No,Yes,Yes,No,No,No,1086271368
3,0,No,Yes,Yes,Yes,No,No,No,1086271371
4,0,No,No,Yes,Yes,No,No,No,1086271393
...,...,...,...,...,...,...,...,...,...
9112,0,No,No,No,No,No,No,No,1086497461
9113,0,No,No,No,No,No,No,No,1086497690
9114,0,No,No,No,No,No,No,No,1086497691
9115,0,No,No,No,No,No,No,No,1086511234
9116,0,No,No,Yes,Yes,No,No,No,1086060091

In [24]:
df4

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [25]:
df5=df4.copy()

In [26]:
df6=amenities.copy()
df5.set_index("Assessment Number")
df6.set_index("Assessment Number")

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
Assessment Number,,,,,,,,
1086271335,0,No,No,Yes,Yes,No,No,No
1086271362,0,No,No,Yes,Yes,No,No,No
1086271368,0,No,No,Yes,Yes,No,No,No
1086271371,0,No,Yes,Yes,Yes,No,No,No
1086271393,0,No,No,Yes,Yes,No,No,No
...,...,...,...,...,...,...,...,...
1086497461,0,No,No,No,No,No,No,No
1086497690,0,No,No,No,No,No,No,No
1086497691,0,No,No,No,No,No,No,No
1086511234,0,No,No,No,No,No,No,No
1086060091,0,No,No,Yes,Yes,No,No,No

In [27]:
df5

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Door No,Property Address,Correspondence Address,Zone,Ward,Block,Locality,Election Ward,EB Block,Latitude
859,0,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,"5-29-45/18/49----509, Thokada, Revenue Ward 59...",NaN,Zone16d,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,NaN
1323,0,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,"3-1/19, FL-404","3-1/19, FL-404, LAXMI VANI PALEM, Revenue Ward...",V-ENCLAVE,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,NaN,83.346386
1414,0,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,"9-137/2/6,FLAT-102","9-137/2/6,FLAT-102, MADHURAWADA, Revenue Ward ...",SATYAM RESIDENCY,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,NaN,83.350862
2269,0,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,"3-26/2-, YENDADA, Revenue Ward 6, Visakhapatna...","3-26/2-,\nYENDADA,\nRevenue Ward 6,\nVisakhapa...",Zone19b,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,NaN
5988,0,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,"43-5-9/1/GF-1, RLY NEW COLONY, Revenue Ward 31...","43-5-9/1/GF-1,\nRLY NEW COLONY,\nRevenue Ward ...",Zone9,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,0,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,7-17/8/10,"7-17/8/10, PARADESI PALEM, Revenue Ward 4, Vis...","7-17/8/10,\nPARADESI PALEM,\nRevenue Ward 4,\n...",Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,NaN
13897,0,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,HOUSE NO-8,"HOUSE NO-8, RUSHKONDA LAYOUT, Revenue Ward 5, ...",NaN,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN
13898,0,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,"H. NO 35, RUSHKONDA LAYOUT, Revenue Ward 5, Vi...",TARAKARAMA LAYOUT,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,NaN
13899,0,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,"27-V-27, MADHURAWADA, Revenue Ward 5, Visakhap...",NaN,Zone19b,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,NaN
13900,0,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,"10-251/20, 4F-504","10-251/20, 4F-504, VISALAKSHI NAGAR, Revenue W...","CHALAPATHI NAGAR, V L NAGAR",Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,NaN,83.338838

In [28]:
df6

,Unnamed: 0,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Assessment Number
0,0,No,No,Yes,Yes,No,No,No,1086271335
1,0,No,No,Yes,Yes,No,No,No,1086271362
2,0,No,No,Yes,Yes,No,No,No,1086271368
3,0,No,Yes,Yes,Yes,No,No,No,1086271371
4,0,No,No,Yes,Yes,No,No,No,1086271393
...,...,...,...,...,...,...,...,...,...
9112,0,No,No,No,No,No,No,No,1086497461
9113,0,No,No,No,No,No,No,No,1086497690
9114,0,No,No,No,No,No,No,No,1086497691
9115,0,No,No,No,No,No,No,No,1086511234
9116,0,No,No,Yes,Yes,No,No,No,1086060091

In [29]:
df5.set_index("Assessment Number").to_dict('list')
df5.keys()

Index(['Unnamed: 0', 'Old Assessment Number', 'Assessment Number',
       'Assessment number of parent property', 'Category of Ownership',
       'Exemption Category', 'Annual Rental Value', 'Effective Date',
       'Property Type', 'Apartment/Complex Name', 'Extent of Site (Sq.Yds)',
       'Property Department', 'Land Underneath the Building (Sq.Yds)',
       'Occupancy Certificate Number', 'Occupancy Certificate Date',
       'Registration Doc No', 'Registration Doc Date', 'Reason for Creation',
       'Assessment Date', 'Habitation', 'IGRS Ward', 'IGRS Locality',
       'IGRS Block', 'IGRS Door No From', 'IGRS Door No To', 'Door No',
       'Property Address', 'Correspondence Address', 'Zone', 'Ward', 'Block',
       'Locality', 'Election Ward', 'EB Block', 'Latitude'],
      dtype='object')

In [30]:
# df7=pd.concat([df5,df6])
# df7
# df7.drop_duplicates(subset="Assessment Number",inplace=True)
# df7

In [31]:
ass=df5.loc[:,"Assessment Number"]
assess=ass.values

In [32]:
assess

array([1086548225, 1086024459, 1086029759, ..., 1086050282, 1086511234,
       1086060091], dtype=int64)

In [33]:
len(assess)

6037

In [34]:
amenities=df6.loc[:,"Assessment Number"].values
len(amenities)

9117

In [35]:
fin_ass=[]
for i in assess:
    if i in amenities:
        fin_ass.append(i)
fin_ass

[1086548225,
 1086024459,
 1086029759,
 1086540050,
 1086498299,
 1086271335,
 1086271362,
 1086271368,
 1086271371,
 1086271393,
 1086271407,
 1086271448,
 1086271515,
 1086271644,
 1086271713,
 1086271714,
 1086271729,
 1086272133,
 1086272122,
 1086272244,
 1086272325,
 1086272453,
 1086272618,
 1086272644,
 1086272562,
 1086272643,
 1086272724,
 1086272725,
 1086272788,
 1086272917,
 1086272918,
 1086272946,
 1086273026,
 1086273095,
 1086273114,
 1086273218,
 1086273243,
 1086273289,
 1086273296,
 1086273498,
 1086273991,
 1086274022,
 1086274024,
 1086274025,
 1086274103,
 1086274205,
 1086274555,
 1086274448,
 1086274451,
 1086274469,
 1086274549,
 1086274547,
 1086274564,
 1086274593,
 1086274597,
 1086274736,
 1086274824,
 1086274901,
 1086275042,
 1086275056,
 1086275077,
 1086275227,
 1086275251,
 1086275253,
 1086275275,
 1086275276,
 1086275277,
 1086275305,
 1086275307,
 1086275308,
 1086275324,
 1086275328,
 1086275329,
 1086275376,
 1086275452,
 1086275491,
 1086275504,
 1086275536,
 1086275537,
 1086275574,
 1086275577,
 1086275578,
 1086275582,
 1086275619,
 1086275629,
 1086275631,
 1086275638,
 1086275696,
 1086487105,
 1086496221,
 1086538592,
 1086544836,
 1086232614,
 1086276169,
 1086276200,
 1086276224,
 1086276235,
 1086276266,
 1086276265,
 1086276331,
 1086276341,
 1086276560,
 1086276878,
 1086277333,
 1086278160,
 1086278532,
 1086278988,
 1086279269,
 1086279704,
 1086279848,
 1086279957,
 1086280353,
 1086280415,
 1086280607,
 1086516207,
 1086518492,
 1086529421,
 1086281458,
 1086281464,
 1086281428,
 1086281461,
 1086281600,
 1086281604,
 1086281612,
 1086281832,
 1086281936,
 1086282229,
 1086282256,
 1086282268,
 1086282287,
 1086282458,
 1086282459,
 1086282725,
 1086282989,
 1086283010,
 1086283293,
 1086283798,
 1086283487,
 1086283502,
 1086283615,
 1086283748,
 1086283773,
 1086283956,
 1086284055,
 1086284116,
 1086284413,
 1086284441,
 1086284792,
 1086284805,
 1086284827,
 1086284979,
 1086284994,
 1086285053,
 1086285145,
 1086285281,
 1086285358,
 1086285380,
 1086285634,
 1086285480,
 1086285640,
 1086285678,
 1086285696,
 1086285764,
 1086285710,
 1086285757,
 1086285771,
 1086285815,
 1086285871,
 1086285884,
 1086285892,
 1086285929,
 1086285915,
 1086288150,
 1086486936,
 1086488192,
 1086496368,
 1086538766,
 1086286097,
 1086286187,
 1086286196,
 1086286306,
 1086286263,
 1086286312,
 1086286317,
 1086286378,
 1086286393,
 1086286422,
 1086286425,
 1086286455,
 1086286612,
 1086286615,
 1086286722,
 1086286747,
 1086286753,
 1086286757,
 1086286807,
 1086286764,
 1086286791,
 1086286809,
 1086286830,
 1086287261,
 1086286947,
 1086286997,
 1086286993,
 1086287019,
 1086287027,
 1086287077,
 1086287065,
 1086287073,
 1086287093,
 1086287131,
 1086287136,
 1086287141,
 1086287265,
 1086287266,
 1086287281,
 1086287290,
 1086287397,
 1086287366,
 1086287386,
 1086287640,
 1086287635,
 1086287644,
 1086287857,
 1086287932,
 1086287941,
 1086288090,
 1086288115,
 1086288298,
 1086288319,
 1086288397,
 1086288444,
 1086288465,
 1086288773,
 1086289053,
 1086289392,
 1086289523,
 1086289660,
 1086289884,
 1086289906,
 1086289912,
 1086290038,
 1086290058,
 1086290061,
 1086290087,
 1086290192,
 1086290657,
 1086290199,
 1086290559,
 1086290797,
 1086290248,
 1086290251,
 1086290258,
 1086290292,
 1086290299,
 1086290376,
 1086290577,
 1086290607,
 1086290651,
 1086290655,
 1086290718,
 1086290715,
 1086291141,
 1086290790,
 1086291074,
 1086290861,
 1086290870,
 1086290965,
 1086291112,
 1086291142,
 1086291217,
 1086291227,
 1086291261,
 1086291404,
 1086291705,
 1086291707,
 1086291768,
 1086291777,
 1086291779,
 1086291784,
 1086291791,
 1086291829,
 1086291958,
 1086291896,
 1086291919,
 1086291947,
 1086292030,
 1086292066,
 1086292105,
 1086292106,
 1086292131,
 1086292200,
 1086292242,
 1086292251,
 1086292257,
 1086292276,
 1086292278,
 1086292279,
 1086292313,
 1086292382,
 1086292383,
 1086292398,
 1086292420,
 1086292477,
 1086292606,
 1086292610,
 1086292649,
 1086292748,
 1086292795,
 1086292807,
 1086292837,
 1086292832,
 1086292891,
 1086292923,
 1086292945,
 1086292949,
 1086293042,
 1086293308,
 1086293398,
 1086293444,
 1086293461,
 1086293468,
 1086293801,
 1086293473,
 1086293487,
 1086293529,
 1086293530,
 1086293617,
 1086293531,
 1086293588,
 1086293704,
 1086295028,
 1086294443,
 1086294446,
 1086294447,
 1086294451,
 1086294587,
 1086294660,
 1086294676,
 1086294700,
 1086294732,
 1086294750,
 1086294826,
 1086294801,
 1086294857,
 1086294858,
 1086294878,
 1086294916,
 1086294951,
 1086294981,
 1086295076,
 1086295159,
 1086295347,
 1086295450,
 1086295497,
 1086346048,
 1086494336,
 1086501166,
 1086513225,
 1086509287,
 1086520975,
 1086521389,
 1086297064,
 1086538551,
 1086539031,
 1086543381,
 1086546597,
 1086298070,
 1086295541,
 1086295574,
 1086295570,
 1086295573,
 1086295579,
 1086295589,
 1086295635,
 1086295673,
 1086295647,
 1086295652,
 1086295653,
 1086295657,
 1086295668,
 1086295698,
 1086295706,
 1086295712,
 1086295713,
 1086295738,
 1086295742,
 1086295748,
 1086295750,
 1086295777,
 1086295782,
 1086295783,
 1086295788,
 1086295797,
 1086295799,
 1086295802,
 1086295814,
 1086295967,
 1086295889,
 1086295894,
 1086295914,
 1086295919,
 1086295924,
 1086295934,
 1086295944,
 1086295954,
 1086295969,
 1086295974,
 1086295979,
 1086295984,
 1086295989,
 1086295997,
 1086296002,
 1086296003,
 1086296009,
 1086296023,
 1086296043,
 1086296037,
 1086296052,
 1086296063,
 1086296065,
 1086296095,
 1086296120,
 1086296126,
 1086296304,
 1086296158,
 1086296222,
 1086296227,
 1086296240,
 1086296279,
 1086296255,
 1086296276,
 1086296301,
 1086296315,
 1086296463,
 1086296323,
 1086301275,
 1086296389,
 1086296392,
 1086296397,
 1086296403,
 1086296407,
 1086296411,
 1086296422,
 1086296428,
 1086296430,
 1086296433,
 1086296435,
 1086296439,
 1086318164,
 1086296461,
 1086296467,
 1086297318,
 1086296471,
 1086296479,
 1086296496,
 1086296504,
 1086296540,
 1086296544,
 1086296680,
 1086296665,
 1086296725,
 1086296683,
 1086296703,
 1086296705,
 1086297028,
 1086297037,
 1086297043,
 1086297204,
 1086297070,
 1086297076,
 1086297100,
 1086298613,
 1086297305,
 1086297341,
 1086297265,
 1086297350,
 1086297237,
 1086297240,
 1086297275,
 1086297245,
 1086297248,
 1086297254,
 1086297256,
 1086297293,
 1086297299,
 1086298793,
 1086297314,
 1086297374,
 1086297344,
 1086297338,
 1086297386,
 1086297371,
 1086297392,
 1086297398,
 1086297401,
 1086297413,
 1086297446,
 1086297449,
 1086299299,
 1086297476,
 1086297488,
 1086297800,
 1086297506,
 1086297512,
 1086297521,
 1086297524,
 1086297527,
 1086298483,
 1086297586,
 1086297596,
 1086297617,
 1086297620,
 1086297622,
 1086297672,
 1086297680,
 1086297904,
 1086297695,
 1086297720,
 1086297724,
 1086297729,
 1086297733,
 1086297741,
 1086297750,
 1086297756,
 1086297758,
 1086297765,
 1086297824,
 1086298870,
 1086297770,
 1086297790,
 1086297814,
 1086297832,
 1086297822,
 1086297872,
 1086297840,
 1086297914,
 1086297892,
 1086297894,
 1086297896,
 1086297924,
 1086297940,
 1086297944,
 1086297946,
 1086298454,
 1086297989,
 1086297975,
 1086297976,
 1086297978,
 1086298017,
 1086298032,
 1086298034,
 1086298075,
 1086298041,
 1086298074,
 1086298085,
 1086298280,
 1086298178,
 1086298182,
 1086298186,
 1086298188,
 1086299054,
 1086298313,
 1086298214,
 1086298245,
 1086298246,
 1086298262,
 1086299296,
 1086298265,
 1086201533,
 1086298392,
 1086298352,
 1086298419,
 1086298406,
 1086298415,
 1086298424,
 1086298427,
 1086298442,
 1086298465,
 1086298466,
 1086298476,
 1086298479,
 1086298493,
 1086298497,
 1086298499,
 1086298569,
 1086298530,
 1086298553,
 1086298586,
 1086298588,
 1086298600,
 1086298616,
 1086298637,
 1086298623,
 1086298628,
 1086299532,
 1086298658,
 1086298663,
 1086298670,
 1086298684,
 1086298689,
 1086298703,
 1086298712,
 1086298723,
 1086298743,
 1086298775,
 1086298780,
 1086298781,
 1086298782,
 1086298787,
 1086298795,
 1086298807,
 1086299194,
 1086298882,
 1086298829,
 1086298833,
 1086298838,
 1086298839,
 1086298867,
 1086298872,
 1086298894,
 1086298898,
 1086298905,
 1086298907,
 1086298921,
 1086298925,
 1086298930,
 1086298932,
 1086298935,
 1086298946,
 1086298947,
 1086298966,
 1086298967,
 1086298968,
 1086299042,
 1086298998,
 1086299000,
 1086299016,
 1086299024,
 1086299028,
 1086299033,
 1086299057,
 1086299059,
 1086299067,
 1086299070,
 1086299073,
 1086299077,
 1086299196,
 1086299107,
 1086299114,
 1086299128,
 1086299135,
 1086299138,
 1086299144,
 1086299146,
 1086299158,
 1086299179,
 1086299180,
 1086299193,
 1086299198,
 1086299199,
 1086299200,
 1086299216,
 1086299240,
 1086299257,
 1086299254,
 1086299258,
 1086299259,
 1086299267,
 1086299268,
 1086299275,
 1086299277,
 1086299280,
 1086299295,
 1086299311,
 1086299331,
 1086299322,
 1086299325,
 1086299346,
 1086299347,
 1086299348,
 1086299364,
 1086299371,
 1086299374,
 1086299377,
 1086299389,
 1086299390,
 1086299391,
 1086299394,
 1086299406,
 1086299410,
 1086299417,
 1086299430,
 1086299440,
 1086299446,
 1086299458,
 1086299476,
 1086299552,
 1086299483,
 1086299491,
 1086299514,
 1086299537,
 1086299556,
 1086299559,
 1086299578,
 1086299579,
 1086299586,
 1086461029,
 1086491654,
 1086496384,
 1086498189,
 1086498192,
 1086498194,
 1086531448,
 1086502485,
 1086502487,
 1086502488,
 1086516822,
 1086523334,
 1086524215,
 1086527194,
 1086531445,
 1086531446,
 1086532399,
 1086532430,
 1086535560,
 1086536348,
 1086536349,
 1086546456,
 1086300426,
 1086299707,
 1086299759,
 1086299799,
 1086299801,
 1086300105,
 1086300024,
 1086300643,
 1086300169,
 1086300190,
 1086300670,
 1086300193,
 1086300196,
 1086300199,
 1086300225,
 1086300256,
 1086300271,
 1086300289,
 1086300286,
 1086300294,
 1086300714,
 1086300717,
 1086300720,
 1086300853,
 1086300737,
 1086300738,
 1086300862,
 1086300890,
 1086300893,
 1086300986,
 1086300974,
 1086300999,
 1086301071,
 1086301167,
 1086301180,
 1086301204,
 1086301273,
 1086301371,
 1086301546,
 1086301421,
 1086301429,
 1086301470,
 1086301480,
 1086301538,
 1086301640,
 1086301665,
 1086302174,
 1086301763,
 1086301837,
 1086301853,
 1086301938,
 1086302054,
 1086302213,
 1086302220,
 1086302235,
 1086302832,
 1086302366,
 1086302560,
 1086302888,
 1086302753,
 1086302755,
 1086303013,
 1086302758,
 1086302760,
 1086302854,
 1086302877,
 1086302908,
 1086302910,
 1086302935,
 1086303011,
 1086303148,
 1086303070,
 1086303087,
 1086303081,
 1086303112,
 1086303173,
 1086303344,
 1086303306,
 1086303471,
 1086303474,
 1086303475,
 1086303477,
 1086304672,
 1086303737,
 1086303758,
 1086303763,
 1086303813,
 1086303814,
 1086303960,
 1086303915,
 1086303932,
 1086303975,
 1086304019,
 1086304111,
 1086304129,
 1086304155,
 1086304283,
 1086304218,
 1086304239,
 1086304388,
 1086304479,
 1086304507,
 1086304678,
 1086304814,
 1086304857,
 1086304875,
 1086305008,
 1086304957,
 1086304991,
 1086305210,
 1086305235,
 1086305296,
 1086305412,
 1086305419,
 1086305422,
 1086305462,
 1086305543,
 1086305552,
 1086305569,
 1086305741,
 1086305781,
 1086305795,
 1086305796,
 1086305880,
 1086305897,
 1086305932,
 1086306010,
 1086306066,
 1086306088,
 1086306273,
 1086306275,
 1086306276,
 1086306279,
 1086306281,
 1086306344,
 1086306357,
 1086306364,
 1086306532,
 1086306539,
 1086306541,
 1086306567,
 1086306577,
 1086306589,
 1086306658,
 1086306671,
 1086306673,
 1086306689,
 1086306740,
 1086306799,
 1086306859,
 1086306875,
 1086306883,
 1086306929,
 1086306930,
 1086306969,
 1086307063,
 1086307161,
 1086307098,
 1086307197,
 1086307199,
 1086307201,
 1086307210,
 1086307287,
 1086307288,
 1086307321,
 1086462058,
 1086462165,
 1086502964,
 1086508282,
 1086508284,
 1086510615,
 1086514711,
 1086513234,
 1086532601,
 1086535493,
 1086535570,
 1086535571,
 1086535572,
 1086536816,
 1086536817,
 1086538943,
 1086536818,
 1086542211,
 1086540887,
 1086540889,
 1086542059,
 1086542089,
 1086542150,
 1086544069,
 1086548249,
 1086307521,
 1086307525,
 1086307527,
 1086307662,
 1086307664,
 1086307672,
 1086308112,
 1086307760,
 1086307968,
 1086308068,
 1086308323,
 1086308458,
 1086308832,
 1086308927,
 1086308962,
 1086308988,
 1086309113,
 1086309296,
 1086309307,
 1086309493,
 1086309517,
 1086309802,
 1086309855,
 1086310051,
 1086310225,
 1086310279,
 1086310305,
 1086310415,
 1086310518,
 1086311300,
 1086311424,
 1086311486,
 1086311500,
 1086311609,
 1086311614,
 1086311679,
 1086311693,
 1086311760,
 1086311805,
 1086311955,
 1086311998,
 1086312065,
 1086312250,
 1086312258,
 1086312259,
 1086312296,
 1086312342,
 1086312423,
 1086312424,
 1086312545,
 1086312597,
 1086312795,
 1086312895,
 1086312899,
 1086312978,
 1086313073,
 1086313150,
 1086313210,
 1086313305,
 1086313306,
 1086313358,
 1086313450,
 1086313528,
 1086315067,
 1086320846,
 1086344852,
 1086345607,
 1086347386,
 1086463452,
 1086496333,
 1086506630,
 1086510204,
 1086530454,
 1086533193,
 1086533194,
 1086535511,
 1086543563,
 1086543570,
 1086545356,
 1086313596,
 1086313622,
 ...]

In [36]:
len(fin_ass)

6037

In [37]:
df6.to_dict('list')
KEYS=df6.keys()
KEYS
K=np.delete(KEYS,8)
K

Index(['Unnamed: 0', 'Lift', 'Toilets', 'Water Tap', 'Electricity',
       'Attached Bathroom', 'Water Harvesting', 'cable connection'],
      dtype='object')

In [38]:
for i in K:
    print(i)
    df5[i]=""
df5.drop(["Unnamed: 0"],axis="columns")

Unnamed: 0
Lift
Toilets
Water Tap
Electricity
Attached Bathroom
Water Harvesting
cable connection

,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,Extent of Site (Sq.Yds),...,Election Ward,EB Block,Latitude,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
859,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,128.00,...,NaN,NaN,NaN,,,,,,,
1323,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,0.00,...,Election Ward 4,NaN,83.346386,,,,,,,
1414,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,531.65,...,Election Ward 4,NaN,83.350862,,,,,,,
2269,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,130.00,...,NaN,NaN,NaN,,,,,,,
5988,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,45.00,...,NaN,NaN,NaN,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,111.00,...,Election Ward 4,NaN,NaN,,,,,,,
13897,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,0.00,...,Election Ward 5,NaN,NaN,,,,,,,
13898,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,460.00,...,NaN,NaN,NaN,,,,,,,
13899,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,150.00,...,NaN,NaN,NaN,,,,,,,
13900,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,511.35,...,Election Ward 6,NaN,83.338838,,,,,,,

In [39]:
a=['Lift', 'Toilets', 'Water Tap', 'Electricity',
       'Attached Bathroom', 'Water Harvesting', 'cable connection']
dff=df5.copy()
for i in fin_ass:
    for u in a:
        df5.loc[(df5["Assessment Number"]==i),u]=df6.loc[(df6["Assessment Number"]==i),u].values[0]

df5

,Unnamed: 0,Old Assessment Number,Assessment Number,Assessment number of parent property,Category of Ownership,Exemption Category,Annual Rental Value,Effective Date,Property Type,Apartment/Complex Name,...,Election Ward,EB Block,Latitude,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
859,,NaN,1086548225,NaN,Private,NaN,"16,198",01/10/2020,Residential,NaN,...,NaN,NaN,NaN,Yes,Yes,No,Yes,Yes,Yes,Yes
1323,,100008/83814,1086024459,NaN,Private,NaN,"3,323",28/03/2014,Residential,NaN,...,Election Ward 4,NaN,83.346386,No,No,Yes,Yes,No,No,No
1414,,100018/70513,1086029759,NaN,Private,NaN,"3,592",01/04/2021,Residential,NaN,...,Election Ward 4,NaN,83.350862,No,No,Yes,Yes,No,No,No
2269,,NaN,1086540050,NaN,Private,NaN,"22,675",11/07/2020,Non Residential,NaN,...,NaN,NaN,NaN,No,No,No,No,No,No,No
5988,,NaN,1086498299,1.086199e+09,Private,NaN,"6,154",01/04/2021,Residential,NaN,...,NaN,NaN,NaN,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,,NaN,1086531027,1.086455e+09,Private,NaN,"3,610",01/04/2021,Residential,STAR MAA RESIDENCY,...,Election Ward 4,NaN,NaN,No,No,No,No,No,No,No
13897,,100009/22825,1086050255,NaN,Private,NaN,"10,644",21/07/2010,Residential,NaN,...,Election Ward 5,NaN,NaN,No,No,Yes,Yes,No,No,No
13898,,100009/22852,1086050282,NaN,Private,NaN,"31,714",01/10/2017,Residential,NaN,...,NaN,NaN,NaN,No,No,Yes,Yes,No,No,No
13899,,NaN,1086511234,1.086456e+09,Private,NaN,"17,242",01/04/2018,Residential,NaN,...,NaN,NaN,NaN,No,No,No,No,No,No,No
13900,,100002/51423,1086060091,NaN,Private,NaN,"6,746",01/04/2021,Residential,HILL VIEW APARTMENT,...,Election Ward 6,NaN,83.338838,No,No,Yes,Yes,No,No,No

In [40]:
df5.columns

Index(['Unnamed: 0', 'Old Assessment Number', 'Assessment Number',
       'Assessment number of parent property', 'Category of Ownership',
       'Exemption Category', 'Annual Rental Value', 'Effective Date',
       'Property Type', 'Apartment/Complex Name', 'Extent of Site (Sq.Yds)',
       'Property Department', 'Land Underneath the Building (Sq.Yds)',
       'Occupancy Certificate Number', 'Occupancy Certificate Date',
       'Registration Doc No', 'Registration Doc Date', 'Reason for Creation',
       'Assessment Date', 'Habitation', 'IGRS Ward', 'IGRS Locality',
       'IGRS Block', 'IGRS Door No From', 'IGRS Door No To', 'Door No',
       'Property Address', 'Correspondence Address', 'Zone', 'Ward', 'Block',
       'Locality', 'Election Ward', 'EB Block', 'Latitude', 'Lift', 'Toilets',
       'Water Tap', 'Electricity', 'Attached Bathroom', 'Water Harvesting',
       'cable connection'],
      dtype='object')

In [41]:
df5.drop(['Unnamed: 0', 'Old Assessment Number',
       'Assessment number of parent property',
       'Exemption Category', 
        'Apartment/Complex Name', 
       'Property Department', 'Land Underneath the Building (Sq.Yds)',
       'Occupancy Certificate Number', 'Occupancy Certificate Date',
       'Registration Doc No', 'Registration Doc Date', 'Reason for Creation',
       'Assessment Date', 'Habitation', 'IGRS Ward', 'IGRS Locality',
       'IGRS Block', 'IGRS Door No From', 'IGRS Door No To', 'Door No',
       'Property Address', 'Correspondence Address'],axis="columns",inplace=True)

In [42]:
df5.columns

Index(['Assessment Number', 'Category of Ownership', 'Annual Rental Value',
       'Effective Date', 'Property Type', 'Extent of Site (Sq.Yds)', 'Zone',
       'Ward', 'Block', 'Locality', 'Election Ward', 'EB Block', 'Latitude',
       'Lift', 'Toilets', 'Water Tap', 'Electricity', 'Attached Bathroom',
       'Water Harvesting', 'cable connection'],
      dtype='object')

In [43]:
df5.drop(['EB Block'],axis='columns',inplace=True)
df5

,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Block,Locality,Election Ward,Latitude,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
859,1086548225,Private,"16,198",01/10/2020,Residential,128.00,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,NaN,Yes,Yes,No,Yes,Yes,Yes,Yes
1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,83.346386,No,No,Yes,Yes,No,No,No
1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,83.350862,No,No,Yes,Yes,No,No,No
2269,1086540050,Private,"22,675",11/07/2020,Non Residential,130.00,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,NaN,No,No,No,No,No,No,No
5988,1086498299,Private,"6,154",01/04/2021,Residential,45.00,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,NaN,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,1086531027,Private,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,NaN,No,No,No,No,No,No,No
13897,1086050255,Private,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,No,No,Yes,Yes,No,No,No
13898,1086050282,Private,"31,714",01/10/2017,Residential,460.00,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,NaN,No,No,Yes,Yes,No,No,No
13899,1086511234,Private,"17,242",01/04/2018,Residential,150.00,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,NaN,No,No,No,No,No,No,No
13900,1086060091,Private,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,83.338838,No,No,Yes,Yes,No,No,No

In [44]:
df5.drop(["Latitude"],axis="columns",inplace=True)
df5

,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Block,Locality,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
859,1086548225,Private,"16,198",01/10/2020,Residential,128.00,Revenue Ward 59,NaN,Thokada,Election Ward 59,NaN,Yes,Yes,No,Yes,Yes,Yes,Yes
1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,NaN,LAXMIVANI PALEM,Election Ward 4,No,No,Yes,Yes,No,No,No
1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,NaN,MADHURAWADA,Election Ward 4,No,No,Yes,Yes,No,No,No
2269,1086540050,Private,"22,675",11/07/2020,Non Residential,130.00,Revenue Ward 6,NaN,YENDADA,Election Ward 6,NaN,No,No,No,No,No,No,No
5988,1086498299,Private,"6,154",01/04/2021,Residential,45.00,Revenue Ward 31,NaN,RLY NEW COLONY,Election Ward 31,NaN,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,1086531027,Private,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,NaN,PARADESI PALEM,Election Ward 4,No,No,No,No,No,No,No
13897,1086050255,Private,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,No,No,Yes,Yes,No,No,No
13898,1086050282,Private,"31,714",01/10/2017,Residential,460.00,Revenue Ward 5,NaN,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,NaN,No,No,Yes,Yes,No,No,No
13899,1086511234,Private,"17,242",01/04/2018,Residential,150.00,Revenue Ward 5,NaN,MADHURAWADA,Election Ward 5,NaN,No,No,No,No,No,No,No
13900,1086060091,Private,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,NaN,VISALAKSHI NAGAR,Election Ward 6,No,No,Yes,Yes,No,No,No

In [45]:
df5.drop(["Block"],axis="columns",inplace=True)
df5

,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Locality,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
859,1086548225,Private,"16,198",01/10/2020,Residential,128.00,Revenue Ward 59,NaN,Election Ward 59,NaN,Yes,Yes,No,Yes,Yes,Yes,Yes
1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,LAXMIVANI PALEM,Election Ward 4,No,No,Yes,Yes,No,No,No
1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,MADHURAWADA,Election Ward 4,No,No,Yes,Yes,No,No,No
2269,1086540050,Private,"22,675",11/07/2020,Non Residential,130.00,Revenue Ward 6,NaN,Election Ward 6,NaN,No,No,No,No,No,No,No
5988,1086498299,Private,"6,154",01/04/2021,Residential,45.00,Revenue Ward 31,NaN,Election Ward 31,NaN,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,1086531027,Private,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,PARADESI PALEM,Election Ward 4,No,No,No,No,No,No,No
13897,1086050255,Private,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,RUSHIKONDA TARAKARAMA NAGAR,Election Ward 5,No,No,Yes,Yes,No,No,No
13898,1086050282,Private,"31,714",01/10/2017,Residential,460.00,Revenue Ward 5,NaN,Election Ward 5,NaN,No,No,Yes,Yes,No,No,No
13899,1086511234,Private,"17,242",01/04/2018,Residential,150.00,Revenue Ward 5,NaN,Election Ward 5,NaN,No,No,No,No,No,No,No
13900,1086060091,Private,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,VISALAKSHI NAGAR,Election Ward 6,No,No,Yes,Yes,No,No,No

In [46]:
df5.drop(["Locality"],axis="columns",inplace=True)

In [47]:
# df5.to_csv("my_data.csv")

In [48]:
df5

,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
859,1086548225,Private,"16,198",01/10/2020,Residential,128.00,Revenue Ward 59,NaN,NaN,Yes,Yes,No,Yes,Yes,Yes,Yes
1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
2269,1086540050,Private,"22,675",11/07/2020,Non Residential,130.00,Revenue Ward 6,NaN,NaN,No,No,No,No,No,No,No
5988,1086498299,Private,"6,154",01/04/2021,Residential,45.00,Revenue Ward 31,NaN,NaN,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13896,1086531027,Private,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,Election Ward 4,No,No,No,No,No,No,No
13897,1086050255,Private,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,Election Ward 5,No,No,Yes,Yes,No,No,No
13898,1086050282,Private,"31,714",01/10/2017,Residential,460.00,Revenue Ward 5,NaN,NaN,No,No,Yes,Yes,No,No,No
13899,1086511234,Private,"17,242",01/04/2018,Residential,150.00,Revenue Ward 5,NaN,NaN,No,No,No,No,No,No,No
13900,1086060091,Private,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,Election Ward 6,No,No,Yes,Yes,No,No,No

In [49]:
df7=df5.dropna()
df7

,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
7258,1086271335,Private,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,Election Ward 47,No,No,Yes,Yes,No,No,No
7259,1086271362,Private,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,Election Ward 47,No,No,Yes,Yes,No,No,No
7260,1086271368,Private,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,Election Ward 47,No,No,Yes,Yes,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13894,1086030340,Private,"3,002",08/09/2010,Residential,493.95,Zone19c,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
13895,1086032411,Private,"3,481",19/05/2015,Residential,552.73,Zone19b,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
13896,1086531027,Private,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,Election Ward 4,No,No,No,No,No,No,No
13897,1086050255,Private,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,Election Ward 5,No,No,Yes,Yes,No,No,No
13900,1086060091,Private,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,Election Ward 6,No,No,Yes,Yes,No,No,No

In [50]:
df7.to_csv("my_data.csv")

In [51]:
df7.columns

Index(['Assessment Number', 'Category of Ownership', 'Annual Rental Value',
       'Effective Date', 'Property Type', 'Extent of Site (Sq.Yds)', 'Zone',
       'Ward', 'Election Ward', 'Lift', 'Toilets', 'Water Tap', 'Electricity',
       'Attached Bathroom', 'Water Harvesting', 'cable connection'],
      dtype='object')

In [52]:
# n_lift=df7.loc[:,"Lift"].values
# nl=[]

# for i in n_lift:
#     if i=="No":
#         nl.append(i)

# n_toilets=df7.loc[:,"Toilets"].values
# nt=[]
# for i in n_toilets:
#     if i=="No":
#         nt.append(i)
        
# n_water=df7.loc[:,"Water Tap"].values
# nw=[]
# for i in n_water:
#     if i =="No":
#         nw.append(i)
        
# n_electricity=df7.loc[:,"Electricity"].values
# ne=[]
# for i in n_electricity:
#     if i=="No":
#         ne.append(i)
# n_bathroom=df7.loc[:,"Attached Bathroom"].values
# nb=[]
# for i in n_bathroom:
#     if i=="No":
#         nb.append(i)
# n_harvesting=df7.loc[:,"Water Harvesting"].values
# nh=[]
# for i in n_harvesting:
#     nh.append(i)
# n_cable=df7.loc[:,"cable connection"].values
# nc=[]
# for i in n_cable:
#     if i=="No":
#         nc.append(i)
# print(n_lift)

In [53]:
anumber=df7.loc[:,"Assessment Number"].values
anumber

array([1086024459, 1086029759, 1086271335, ..., 1086531027, 1086050255,
       1086060091], dtype=int64)

In [54]:
df7=pd.read_csv("my_data.csv")

In [55]:
df7.head()

,Unnamed: 0,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
0,1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
1,1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,No,No,Yes,Yes,No,No,No
2,7258,1086271335,Private,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,Election Ward 47,No,No,Yes,Yes,No,No,No
3,7259,1086271362,Private,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,Election Ward 47,No,No,Yes,Yes,No,No,No
4,7260,1086271368,Private,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,Election Ward 47,No,No,Yes,Yes,No,No,No

In [56]:
print(df7.loc[(df7["Assessment Number"]==1086024459),"Toilets"].values[0])
if df7.loc[(df7["Assessment Number"]==1086024459),"Toilets"].values[0]=="No":
    df7.loc[(df7["Assessment Number"]==1086024459),"Toilets"]=0
    print("adwda")
print(df7.loc[(df7["Assessment Number"]==1086024459),"Toilets"])

No
adwda
0    0
Name: Toilets, dtype: object

In [57]:
df7.columns[11:]

Index(['Toilets', 'Water Tap', 'Electricity', 'Attached Bathroom',
       'Water Harvesting', 'cable connection'],
      dtype='object')

In [58]:
print(df7.loc[(df7["Assessment Number"]==1086024459),"Lift"].values)

for i in anumber:
    for j in df7.columns[11:]:
        if df7.loc[(df7["Assessment Number"]==i),j].values[0]=="No":
            df7.loc[(df7["Assessment Number"]==i),j]=0
        else:
            df7.loc[(df7["Assessment Number"]==i),j]=1
            
    
df7.head()

['No']

,Unnamed: 0,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
0,1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,No,1,1,1,0,0,0
1,1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,No,0,1,1,0,0,0
2,7258,1086271335,Private,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,Election Ward 47,No,0,1,1,0,0,0
3,7259,1086271362,Private,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,Election Ward 47,No,0,1,1,0,0,0
4,7260,1086271368,Private,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,Election Ward 47,No,0,1,1,0,0,0

In [59]:
df7.to_csv("my_data.csv")

In [60]:
for i in anumber:
    if df7.loc[(df7["Assessment Number"]==i),"Lift"].values[0]=="No":
            df7.loc[(df7["Assessment Number"]==i),"Lift"]=0
    else:
        df7.loc[(df7["Assessment Number"]==i),"Lift"]=1
        
            
    
df7.head()

,Unnamed: 0,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection
0,1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,0,1,1,1,0,0,0
1,1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0
2,7258,1086271335,Private,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0
3,7259,1086271362,Private,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0
4,7260,1086271368,Private,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0

In [61]:
df7.shape

(4520, 17)

In [62]:
df7["Category of Ownership"].unique()

array(['Private', 'Central Government 50%'], dtype=object)

In [63]:
category_dummies=pd.get_dummies(df7["Category of Ownership"])
category_dummies

      Central Government 50%  Private
0                          0        1
1                          0        1
2                          0        1
3                          0        1
4                          0        1
...                      ...      ...
4515                       0        1
4516                       0        1
4517                       0        1
4518                       0        1
4519                       0        1

[4520 rows x 2 columns]

In [64]:
df9=pd.concat([df7,category_dummies],axis="columns")
df9

,Unnamed: 0,Assessment Number,Category of Ownership,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,Private
0,1323,1086024459,Private,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,0,1,1,1,0,0,0,0,1
1,1414,1086029759,Private,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0,0,1
2,7258,1086271335,Private,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0,0,1
3,7259,1086271362,Private,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0,0,1
4,7260,1086271368,Private,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,13894,1086030340,Private,"3,002",08/09/2010,Residential,493.95,Zone19c,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0,0,1
4516,13895,1086032411,Private,"3,481",19/05/2015,Residential,552.73,Zone19b,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0,0,1
4517,13896,1086531027,Private,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,Election Ward 4,0,0,0,0,0,0,0,0,1
4518,13897,1086050255,Private,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,Election Ward 5,0,0,1,1,0,0,0,0,1
4519,13900,1086060091,Private,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,Election Ward 6,0,0,1,1,0,0,0,0,1

In [65]:
df9.drop("Category of Ownership",axis="columns",inplace=True)
df9

,Unnamed: 0,Assessment Number,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Election Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,Private
0,1323,1086024459,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,Election Ward 4,0,1,1,1,0,0,0,0,1
1,1414,1086029759,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0,0,1
2,7258,1086271335,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0,0,1
3,7259,1086271362,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0,0,1
4,7260,1086271368,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,Election Ward 47,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,13894,1086030340,"3,002",08/09/2010,Residential,493.95,Zone19c,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0,0,1
4516,13895,1086032411,"3,481",19/05/2015,Residential,552.73,Zone19b,Revenue Ward 4,Election Ward 4,0,0,1,1,0,0,0,0,1
4517,13896,1086531027,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,Election Ward 4,0,0,0,0,0,0,0,0,1
4518,13897,1086050255,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,Election Ward 5,0,0,1,1,0,0,0,0,1
4519,13900,1086060091,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,Election Ward 6,0,0,1,1,0,0,0,0,1

In [66]:
len(df9["Election Ward"].unique())

71

In [67]:
df10=df9.drop("Election Ward",axis="columns")
df10

,Unnamed: 0,Assessment Number,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Zone,Ward,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,Private
0,1323,1086024459,"3,323",28/03/2014,Residential,0.00,Zone19c,Revenue Ward 4,0,1,1,1,0,0,0,0,1
1,1414,1086029759,"3,592",01/04/2021,Residential,531.65,Zone19b,Revenue Ward 4,0,0,1,1,0,0,0,0,1
2,7258,1086271335,"10,585",01/04/2021,Residential,0.00,Zone15,Revenue Ward 47,0,0,1,1,0,0,0,0,1
3,7259,1086271362,"9,185",01/04/2021,Residential,79.20,Zone15,Revenue Ward 47,0,0,1,1,0,0,0,0,1
4,7260,1086271368,"8,725",01/04/2021,Non Residential,240.00,Zone15a,Revenue Ward 47,0,0,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,13894,1086030340,"3,002",08/09/2010,Residential,493.95,Zone19c,Revenue Ward 4,0,0,1,1,0,0,0,0,1
4516,13895,1086032411,"3,481",19/05/2015,Residential,552.73,Zone19b,Revenue Ward 4,0,0,1,1,0,0,0,0,1
4517,13896,1086531027,"3,610",01/04/2021,Residential,111.00,Zone19c,Revenue Ward 4,0,0,0,0,0,0,0,0,1
4518,13897,1086050255,"10,644",21/07/2010,Residential,0.00,Zone19b,Revenue Ward 5,0,0,1,1,0,0,0,0,1
4519,13900,1086060091,"6,746",01/04/2021,Residential,511.35,Zone7b,Revenue Ward 6,0,0,1,1,0,0,0,0,1

In [68]:
len(df10["Ward"].unique())

71

In [69]:
zone_categories=pd.get_dummies(df10["Zone"])
zone_categories

,Zone1,Zone10,Zone11,Zone11a,Zone12,Zone12a,Zone13,Zone13a,Zone13b,Zone13c,...,Zone6,Zone6a,Zone7,Zone7a,Zone7b,Zone8,Zone8a,Zone8b,Zone9,Zone9a
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [70]:
df10=pd.concat([df10,zone_categories],axis="columns")
df10.drop(["Zone","Unnamed: 0"],axis="columns",inplace=True)

In [71]:
df10

,Assessment Number,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Ward,Lift,Toilets,Water Tap,Electricity,...,Zone6,Zone6a,Zone7,Zone7a,Zone7b,Zone8,Zone8a,Zone8b,Zone9,Zone9a
0,1086024459,"3,323",28/03/2014,Residential,0.00,Revenue Ward 4,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,1086029759,"3,592",01/04/2021,Residential,531.65,Revenue Ward 4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,1086271335,"10,585",01/04/2021,Residential,0.00,Revenue Ward 47,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,1086271362,"9,185",01/04/2021,Residential,79.20,Revenue Ward 47,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4,1086271368,"8,725",01/04/2021,Non Residential,240.00,Revenue Ward 47,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,1086030340,"3,002",08/09/2010,Residential,493.95,Revenue Ward 4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4516,1086032411,"3,481",19/05/2015,Residential,552.73,Revenue Ward 4,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4517,1086531027,"3,610",01/04/2021,Residential,111.00,Revenue Ward 4,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,1086050255,"10,644",21/07/2010,Residential,0.00,Revenue Ward 5,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
4519,1086060091,"6,746",01/04/2021,Residential,511.35,Revenue Ward 6,0,0,1,1,...,0,0,0,0,1,0,0,0,0,0

In [72]:
ward_categories=pd.get_dummies(df10["Ward"])
ward_categories

,Revenue Ward 1,Revenue Ward 10,Revenue Ward 11,Revenue Ward 12,Revenue Ward 13,Revenue Ward 14,Revenue Ward 15,Revenue Ward 16,Revenue Ward 17,Revenue Ward 18,...,Revenue Ward 67,Revenue Ward 68,Revenue Ward 69,Revenue Ward 7,Revenue Ward 70,Revenue Ward 71,Revenue Ward 72,Revenue Ward 73,Revenue Ward 8,Revenue Ward 9
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [73]:
df10=pd.concat([df10,ward_categories],axis="columns")
df10.drop(["Ward"],axis="columns",inplace=True)

In [74]:
df10

,Assessment Number,Annual Rental Value,Effective Date,Property Type,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,...,Revenue Ward 67,Revenue Ward 68,Revenue Ward 69,Revenue Ward 7,Revenue Ward 70,Revenue Ward 71,Revenue Ward 72,Revenue Ward 73,Revenue Ward 8,Revenue Ward 9
0,1086024459,"3,323",28/03/2014,Residential,0.00,0,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1086029759,"3,592",01/04/2021,Residential,531.65,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1086271335,"10,585",01/04/2021,Residential,0.00,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1086271362,"9,185",01/04/2021,Residential,79.20,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1086271368,"8,725",01/04/2021,Non Residential,240.00,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,1086030340,"3,002",08/09/2010,Residential,493.95,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4516,1086032411,"3,481",19/05/2015,Residential,552.73,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4517,1086531027,"3,610",01/04/2021,Residential,111.00,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,1086050255,"10,644",21/07/2010,Residential,0.00,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4519,1086060091,"6,746",01/04/2021,Residential,511.35,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
prop_categories=pd.get_dummies(df10["Property Type"])
prop_categories

      Mixed  Non Residential  Residential
0         0                0            1
1         0                0            1
2         0                0            1
3         0                0            1
4         0                1            0
...     ...              ...          ...
4515      0                0            1
4516      0                0            1
4517      0                0            1
4518      0                0            1
4519      0                0            1

[4520 rows x 3 columns]

In [76]:
df10=pd.concat([df10,ward_categories],axis="columns")
df10.drop(["Effective Date","Property Type"],axis="columns",inplace=True)
df10

,Assessment Number,Annual Rental Value,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,...,Revenue Ward 67,Revenue Ward 68,Revenue Ward 69,Revenue Ward 7,Revenue Ward 70,Revenue Ward 71,Revenue Ward 72,Revenue Ward 73,Revenue Ward 8,Revenue Ward 9
0,1086024459,"3,323",0.00,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1086029759,"3,592",531.65,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1086271335,"10,585",0.00,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1086271362,"9,185",79.20,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1086271368,"8,725",240.00,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,1086030340,"3,002",493.95,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,1086032411,"3,481",552.73,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,1086531027,"3,610",111.00,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,1086050255,"10,644",0.00,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,1086060091,"6,746",511.35,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [77]:
df11=df10.drop("Assessment Number",axis="columns")
df11

,Annual Rental Value,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,...,Revenue Ward 67,Revenue Ward 68,Revenue Ward 69,Revenue Ward 7,Revenue Ward 70,Revenue Ward 71,Revenue Ward 72,Revenue Ward 73,Revenue Ward 8,Revenue Ward 9
0,"3,323",0.00,0,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"3,592",531.65,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,"10,585",0.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"9,185",79.20,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"8,725",240.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,"3,002",493.95,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4516,"3,481",552.73,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4517,"3,610",111.00,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4518,"10,644",0.00,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4519,"6,746",511.35,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [78]:
# df11.to_csv("machine_learning.csv")

In [79]:
df12=pd.read_csv("machinelearning1.csv")

In [80]:
y=df12["Annual Rental Value"].copy()
y

0        3323
1        3592
2       10585
3        9185
4        8725
        ...
4515     3002
4516     3481
4517     3610
4518    10644
4519     6746
Name: Annual Rental Value, Length: 4520, dtype: int64

In [81]:
X=df12.drop(["Annual Rental Value","Unnamed: 0"],axis="columns")
X

,Extent of Site (Sq.Yds),Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,Private,...,Revenue Ward 67.1,Revenue Ward 68.1,Revenue Ward 69.1,Revenue Ward 7.1,Revenue Ward 70.1,Revenue Ward 71.1,Revenue Ward 72.1,Revenue Ward 73.1,Revenue Ward 8.1,Revenue Ward 9.1
0,0.00,0,1,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,531.65,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0.00,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,79.20,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,240.00,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,493.95,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4516,552.73,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4517,111.00,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4518,0.00,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4519,511.35,0,0,1,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [82]:
x=X.drop(["Extent of Site (Sq.Yds)"],axis="columns")
x

,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,cable connection,Central Government 50%,Private,Zone1,...,Revenue Ward 67.1,Revenue Ward 68.1,Revenue Ward 69.1,Revenue Ward 7.1,Revenue Ward 70.1,Revenue Ward 71.1,Revenue Ward 72.1,Revenue Ward 73.1,Revenue Ward 8.1,Revenue Ward 9.1
0,0,1,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4515,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4516,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4517,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4518,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4519,0,0,1,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [83]:
X.columns

Index(['Extent of Site (Sq.Yds)', 'Lift', 'Toilets', 'Water Tap',
       'Electricity', 'Attached Bathroom', 'Water Harvesting',
       'cable connection', 'Central Government 50%', 'Private',
       ...
       'Revenue Ward 67.1', 'Revenue Ward 68.1', 'Revenue Ward 69.1',
       'Revenue Ward 7.1', 'Revenue Ward 70.1', 'Revenue Ward 71.1',
       'Revenue Ward 72.1', 'Revenue Ward 73.1', 'Revenue Ward 8.1',
       'Revenue Ward 9.1'],
      dtype='object', length=242)

In [84]:
y=y.values
y= y.reshape((4520,1))
y

array([[ 3323],
       [ 3592],
       [10585],
       ...,
       [ 3610],
       [10644],
       [ 6746]], dtype=int64)

In [85]:
X=X.values
X

array([[  0.  ,   0.  ,   1.  , ...,   0.  ,   0.  ,   0.  ],
       [531.65,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       ...,
       [111.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [511.35,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ]])

In [86]:
# X = X.reshape((4520,1))

In [87]:
# y.to_csv("rough.csv")

In [88]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=10)

In [89]:
X_train.shape

(3616, 242)

In [90]:
#  y= y.reshape((3616,1))

In [91]:
y_train.shape

(3616, 1)

In [92]:
X_train

array([[  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [147.62,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [ 54.9 ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       ...,
       [173.24,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [  0.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ],
       [ 81.  ,   0.  ,   0.  , ...,   0.  ,   0.  ,   0.  ]])

In [93]:
from sklearn.linear_model import LinearRegression
lr_clf=LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

-3.8549350486530045

In [94]:
y

array([[ 3323],
       [ 3592],
       [10585],
       ...,
       [ 3610],
       [10644],
       [ 6746]], dtype=int64)

In [105]:
# df12.to_csv("rough.csv")

In [99]:
from sklearn import tree
model1=tree.DecisionTreeClassifier()
model1.fit(X_train,y_train)

DecisionTreeClassifier()

In [100]:
model1.score(X_test,y_test)

0.06526548672566372

In [101]:
from sklearn.svm import SVC
rbf_model = SVC(kernel='rbf')
rbf_model.fit(X_train, y_train)

C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1095: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [101]:
rbf_model.score(X_test,y_test)

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\anura\AppData\Local\Temp/ipykernel_18132/2165957933.py", line 1, in <module>
    rbf_model.score(X_test,y_test)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py", line 667, in score
    return accuracy_score(y, self.predict(X), sample_weight=sample_weight)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py", line 799, in predict
    y = super().predict(X)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py", line 424, in predict
    return predict(X)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py", line 443, in _dense_predict
    return libsvm.predict(
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Program Files\Python310\lib\inspect.py", line 1665, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Program Files\Python310\lib\inspect.py", line 1623, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Program Files\Python310\lib\inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "C:\Program Files\Python310\lib\inspect.py", line 878, in getmodule
    os.path.realpath(f)] = module.__name__
  File "C:\Program Files\Python310\lib\ntpath.py", line 679, in realpath
    if _getfinalpathname(spath) == path:
KeyboardInterrupt
Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\anura\AppData\Local\Temp/ipykernel_18132/2165957933.py", line 1, in <module>
    rbf_model.score(X_test,y_test)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py", line 667, in score
    return accuracy_score(y, self.predict(X), sample_weight=sample_weight)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py", line 799, in predict
    y = super().predict(X)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py", line 424, in predict
    return predict(X)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\sklearn\svm\_base.py", line 443, in _dense_predict
    return libsvm.predict(
KeyboardInterrupt

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'KeyboardInterrupt' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 3474, in run_code
    self.showtraceback(running_compiled_code=True)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2079, in showtraceback
    stb = self.InteractiveTB.structured_traceback(etype,
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1367, in structured_traceback
    return FormattedTB.structured_traceback(
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1267, in structured_traceback
    return VerboseTB.structured_traceback(
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1124, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "C:\Users\anura\AppData\Roaming\Python\Python310\site-packages\IPython\core\ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "C:\Program Files\Python310\lib\inspect.py", line 1665, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "C:\Program Files\Python310\lib\inspect.py", line 1623, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "C:\Program Files\Python310\lib\inspect.py", line 829, in getsourcefile
    module = getmodule(object, filename)
  File "C:\Program Files\Python310\lib\inspect.py", line 878, in getmodule
    os.path.realpath(f)] = module.__name__
  File "C:\Program Files\Python310\lib\ntpath.py", line 679, in realpath
    if _getfinalpathname(spath) == path:
KeyboardInterrupt

TypeError: object of type 'NoneType' has no len()

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(X_train, y_train)

In [ ]:
model.score(X_test,y_test)

In [ ]:
plt.scatter(df9["Annual Rental Value"],df9["Zone"])

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [ ]:
from sklearn.linear_model import LinearRegression
lmodel=LinearRegression()
lmodel.fit(x_train,y_train)
lmodel.score(x_test,y_test)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(x_train, y_train)

In [ ]:
model.score(x_test,y_test)