In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("unique_records.csv")
df

,Unnamed: 0,Unnamed: 0.1,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,44051,15,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0
14691,44052,16,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0
14692,44053,17,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0
14693,44054,18,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0
14694,44055,19,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0

In [3]:
df1=df.drop_duplicates(["Assessment Number"])
df1

,Unnamed: 0,Unnamed: 0.1,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount
0,0,0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0
1,1,1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0
2,2,2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0
3,3,3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576
4,4,4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,44051,15,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0
14691,44052,16,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0
14692,44053,17,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0
14693,44054,18,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0
14694,44055,19,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0

In [4]:
owner_details=pd.read_csv("owner_details.csv")
owner_details=owner_details.drop(["Unnamed: 0"],axis='columns')
owner_details

,mobile,name,gender,email,guardian relation,guardian,Assessment Number
0,NaN,K KRISHNA REDDY,MALE,NaN,Father,NaN,1086087770
1,9.581668e+09,G V R REDDY,MALE,NaN,Father,NaN,1086071296
2,9.632587e+09,D. LOKENDRA REDDY,MALE,NaN,Father,NaN,1086306067
3,9.848292e+09,PILLI APPALA REDDY,MALE,NaN,Father,NaN,1086059570
4,9.059018e+09,B NARAYANA REDDY,MALE,NaN,Father,NaN,1086220555
...,...,...,...,...,...,...,...
6952,NaN,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI",MALE,NaN,Father,NaN,1086062158
6953,NaN,V.SURYA KUMARI,MALE,NaN,Father,NaN,1086062761
6954,8.500308e+09,M. KUSUMA KUMARI,MALE,NaN,Father,NaN,1086381905
6955,9.989925e+09,DAVULURI NAGA RAJA KUMARI,FEMALE,NaN,Husband,LATE DVULURI SIVA PRASADARAO,1086151336
6956,7.989384e+09,CH SWARNA KUMARI,MALE,NaN,Father,NaN,1086170596

In [5]:
owner_details=owner_details.drop(["mobile","email","guardian relation","guardian"],axis='columns')
owner_details

                                     name  gender  Assessment Number
0                         K KRISHNA REDDY    MALE         1086087770
1                             G V R REDDY    MALE         1086071296
2                       D. LOKENDRA REDDY    MALE         1086306067
3                      PILLI APPALA REDDY    MALE         1086059570
4                        B NARAYANA REDDY    MALE         1086220555
...                                   ...     ...                ...
6952  ATLURI LAKSHMANA RAO, KUSUMA KUMARI    MALE         1086062158
6953                       V.SURYA KUMARI    MALE         1086062761
6954                     M. KUSUMA KUMARI    MALE         1086381905
6955            DAVULURI NAGA RAJA KUMARI  FEMALE         1086151336
6956                     CH SWARNA KUMARI    MALE         1086170596

[6957 rows x 3 columns]

In [6]:
ass=df1.loc[:,"Assessment Number"]
assess=ass.values

In [7]:
assess

array([1086458506, 1086553965, 1086087770, ..., 1086381905, 1086151336,
       1086170596], dtype=int64)

In [8]:
details=owner_details.loc[:,"Assessment Number"].values
details

array([1086087770, 1086071296, 1086306067, ..., 1086381905, 1086151336,
       1086170596], dtype=int64)

In [9]:
owner_columns=owner_details.columns.values
# owner_columns=owner_columns.values
owner_columns[:-1]

array(['name', 'gender'], dtype=object)

In [10]:
for i in owner_columns[:-1]:
    df1[i]=""
df1=df1.drop(["Unnamed: 0","Unnamed: 0.1"],axis="columns")

In [11]:
df1

,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount,name,gender
0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0,,
1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0,,
2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0,,
3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576,,
4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0,,
14691,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0,,
14692,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0,,
14693,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0,,
14694,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0,,

In [12]:
owner_details.loc[(owner_details["Assessment Number"]==1086381905),"gender"].values[0]

'MALE'

In [13]:
# owner_columns.drop(len(owner_columns)-1)
for i in assess:
    if i in details:
        for u in owner_columns[:-1]:
            df1.loc[(df1["Assessment Number"]==i),u]=owner_details.loc[(owner_details["Assessment Number"]==i),u].values[0]
#             print(i,u)
df1

,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount,name,gender
0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0,,
1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0,,
2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0,K KRISHNA REDDY,MALE
3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576,G V R REDDY,MALE
4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0,D. LOKENDRA REDDY,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI",MALE
14691,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0,V.SURYA KUMARI,MALE
14692,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0,M. KUSUMA KUMARI,MALE
14693,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0,DAVULURI NAGA RAJA KUMARI,FEMALE
14694,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0,CH SWARNA KUMARI,MALE

In [14]:
df1

,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount,name,gender
0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0,,
1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0,,
2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0,K KRISHNA REDDY,MALE
3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576,G V R REDDY,MALE
4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0,D. LOKENDRA REDDY,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI",MALE
14691,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0,V.SURYA KUMARI,MALE
14692,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0,M. KUSUMA KUMARI,MALE
14693,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0,DAVULURI NAGA RAJA KUMARI,FEMALE
14694,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0,CH SWARNA KUMARI,MALE

In [15]:
df1.dropna()

,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount,name,gender
0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0,,
1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0,,
2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0,K KRISHNA REDDY,MALE
3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576,G V R REDDY,MALE
4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0,D. LOKENDRA REDDY,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI",MALE
14691,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0,V.SURYA KUMARI,MALE
14692,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0,M. KUSUMA KUMARI,MALE
14693,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0,DAVULURI NAGA RAJA KUMARI,FEMALE
14694,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0,CH SWARNA KUMARI,MALE

In [16]:
df1.to_csv("rough.csv")

In [17]:
df2=pd.read_csv("rough.csv")
df2.drop(["Unnamed: 0"],axis="columns",inplace=True)
df2

,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,Interest Due On Arrear Tax Due,Rebate Amount,Advance,Net Payable Amount,name,gender
0,1086458506,A. BALAKRISHNA REDDY,"54-11-38, Revenue Ward 10, Isukathota Gazetted...",20115,0,0,20115,0,0,0,0,0.0,0.0,0,NaN,NaN
1,1086553965,JANAPAREDDY SREE SWETA LAKSHMI,"5-35/6/FF202, Revenue Ward 6, YENDADA, Visakha...",673,0,0,673,0,0,0,0,0.0,0.0,0,NaN,NaN
2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,0,0.0,0.0,0,K KRISHNA REDDY,MALE
3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,0,0.0,0.0,2576,G V R REDDY,MALE
4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,0,0.0,0.0,0,D. LOKENDRA REDDY,MALE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,0,0.0,0.0,0,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI",MALE
14691,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,0,0.0,0.0,0,V.SURYA KUMARI,MALE
14692,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,0,0.0,0.0,0,M. KUSUMA KUMARI,MALE
14693,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,0,0.0,0.0,0,DAVULURI NAGA RAJA KUMARI,FEMALE
14694,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,0,0.0,4.0,0,CH SWARNA KUMARI,MALE

In [18]:
df2.dropna(inplace=True)

In [19]:
df2ass=df2.loc[:,"Assessment Number"]
df2assess=ass.values

In [20]:
amenities=pd.read_csv("new_amenities.csv")
amenities.drop(["Unnamed: 0"],axis="columns",inplace=True)
amenities

,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,Cable Connection,Assessment Number
0,No,No,Yes,Yes,No,No,No,1086087770
1,No,No,Yes,Yes,No,No,No,1086071296
2,No,No,Yes,Yes,No,No,No,1086306067
3,No,No,Yes,Yes,No,No,No,1086059570
4,No,No,Yes,Yes,No,No,No,1086220555
...,...,...,...,...,...,...,...,...
6914,No,No,Yes,Yes,No,No,No,1086062158
6915,No,No,Yes,Yes,No,No,No,1086062761
6916,No,No,Yes,Yes,No,No,No,1086381905
6917,No,No,Yes,Yes,No,No,No,1086151336
6918,No,No,Yes,Yes,No,No,No,1086170596

In [21]:
amenities_val=amenities.loc[:,"Assessment Number"].values
amenities_val
# details=owner_details.loc[:,"Assessment Number"].values

array([1086087770, 1086071296, 1086306067, ..., 1086381905, 1086151336,
       1086170596], dtype=int64)

In [22]:
amenities_columns=amenities.columns.values
amenities_columns

array(['Lift', 'Toilets', 'Water Tap', 'Electricity', 'Attached Bathroom',
       'Water Harvesting', 'Cable Connection', 'Assessment Number'],
      dtype=object)

In [23]:
df2.to_csv("rough.csv")

In [24]:
for i in amenities_columns[:-1]:
    df2[i]=""
# df2.drop(["Unnamed: 0","Unnamed: 0.1"],axis="columns",inplace=True)
df2.dropna(inplace=True)
df2

,Assessment Number,Owner Name,Address,Current First Half Tax,Current First Half Tax Due,Interest Due on Current First Half Tax Due,Current Second Half Tax,Current Second Half Tax Due,Interest Due on Current Second Half Tax Due,Arrear Tax Due,...,Net Payable Amount,name,gender,Lift,Toilets,Water Tap,Electricity,Attached Bathroom,Water Harvesting,Cable Connection
2,1086087770,K KRISHNA REDDY,"1-1-67/8, Revenue Ward 9, Visakhapatnam",115,0,0,115,0,0,0,...,0,K KRISHNA REDDY,MALE,,,,,,,
3,1086071296,G V R REDDY,"4-40-14/1, Revenue Ward 7, PEDA WALTAIR, Visak...",1241,1235,100,1241,1241,0,0,...,2576,G V R REDDY,MALE,,,,,,,
4,1086306067,D. LOKENDRA REDDY,"24-76-9/4, Revenue Ward 52, SAMATA NAGAR, Visa...",7061,0,0,7061,0,0,0,...,0,D. LOKENDRA REDDY,MALE,,,,,,,
5,1086059570,PILLI APPALA REDDY,"10-179/5, SF-301, Revenue Ward 6, VISALAKSHI N...",1644,0,0,1644,0,0,0,...,0,PILLI APPALA REDDY,MALE,,,,,,,
6,1086220555,B NARAYANA REDDY,"36-46-55/A, Revenue Ward 36, GOKUL NAGAR, KANC...",4370,4370,348,4370,4370,0,1891,...,11207,B NARAYANA REDDY,MALE,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14690,1086062158,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI","0, Revenue Ward 6, Visakhapatnam",2678,0,0,2678,0,0,0,...,0,"ATLURI LAKSHMANA RAO, KUSUMA KUMARI",MALE,,,,,,,
14691,1086062761,V.SURYA KUMARI,"5-189/2, Revenue Ward 6, YENDADA, Visakhapatnam",91,0,0,91,0,0,0,...,0,V.SURYA KUMARI,MALE,,,,,,,
14692,1086381905,M. KUSUMA KUMARI,"8-2-39/40, Revenue Ward 64, GAJUWAKA, Visakhap...",6809,0,0,6809,0,0,0,...,0,M. KUSUMA KUMARI,MALE,,,,,,,
14693,1086151336,DAVULURI NAGA RAJA KUMARI,"10-12-9/9 PL.NO-201, Revenue Ward 19, Rednamga...",5297,0,0,5297,0,0,0,...,0,DAVULURI NAGA RAJA KUMARI,FEMALE,,,,,,,
14694,1086170596,CH SWARNA KUMARI,"22-5-64/3, Revenue Ward 24, BUKKA VEEDHI, Visa...",626,0,0,626,0,0,0,...,0,CH SWARNA KUMARI,MALE,,,,,,,

In [25]:
for i in assess:
    if i in amenities_val:
        for u in amenities_columns[:-1]:
            df1.loc[(df1["Assessment Number"]==i),u]=amenities.loc[(amenities["Assessment Number"]==i),u].values[0]
#             print(i,u)
df1

KeyError: 'Lift'